/* RALEWAY */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
 /* MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  font-size: 60%;
  --green-daredev: #3FE000;
  --blue-daredev: #00C2E0;
  /* LIGHT THEME */
  --color-background-light: #E5E5E5;
  --light-text-title: #40404D;
  --light-text-base: #757580;
  --light-text-complement: #ABABB2;
  --light-text-detail: #E1E1E5;
  /* DARK THEME */
  --color-background-dark: #202024;
  --dark-text-title: #E1E1E6;
  --dark-text-base: #A8A8B3;
  --dark-text-complement: #737380;
  --dark-text-detail: #41414D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
header {
  
  background-color: #202024;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.links {
  margin: 1rem;
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.links img {
  width: 60px;
}

.other-links {
  width: 60%;
  display: flex;
flex-direction: row;
justify-content: space-between;
}

.other-links a {
  background-color: #121214; 
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;

  text-decoration: none;
  font-size: 1rem;
  font-family: 'Montserrat';
  font-weight: 600;
  color: var(--dark-text-complement);
}

.other-links a:hover {
  background-color: #121214b2; 
}

/* BODY */
body {
  background-color: #121214;
}


#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 800px) {
  .links {
    width: 50%;
  }
  .other-links a {
    font-size: 1.5rem;
    padding: 1rem 3rem;


  }

  .other-links {
    width: 35%;

  }
}