/* RALEWAY */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
 /* MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  font-size: 60%;
  --green-daredev: #3FE000;
  --blue-daredev: #00C2E0;
  /* LIGHT THEME */
  --color-background-light: #E5E5E5;
  --light-text-title: #40404D;
  --light-text-base: #757580;
  --light-text-complement: #ABABB2;
  --light-text-detail: #E1E1E5;
  /* DARK THEME */
  --color-background-dark: #202024;
  --dark-text-title: #E1E1E6;
  --dark-text-base: #A8A8B3;
  --dark-text-complement: #737380;
  --dark-text-detail: #41414D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
header {
  
  background-color: #202024;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.links {
  margin: 1rem;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.links img {
  width: 70px;
}

.other-links {
  width: 35%;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.other-links a {
  background-color: #121214; 
  border-radius: 0.3rem;
  padding: 1rem 3rem;

  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Montserrat';
  font-weight: 600;
  color: var(--dark-text-complement);
}

 /* BODY */
body {
  background-color: #121214;
}


#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content img {
  margin-top: 5rem;
  border-radius: 50%;
  width: 20rem;

}
.develop { 
  margin-top: 2rem;
  font-family: 'Raleway';
  font-size: 1.5rem;
  color: var(--dark-text-title);
}

#content h1 {
  margin-top: 2rem;
  font-family: 'Raleway';
  font-size: 3rem;
  color: var(--dark-text-title);
}

#content h2 {
  margin-top: 0.8rem;
  font-family: 'Raleway';
  font-size: 2rem;
  color: var(--dark-text-base);
}

#content h3 {
  margin-top: 0.8rem;
  font-family: 'Raleway';
  font-size: 1.5rem;
  color: var(--dark-text-complement);
  font-weight: normal;
}

/* FAQ */
.accordion {
  margin-top: 30px;
  border-radius: 0.5rem;
  font-family: 'Montserrat';

  background-color: #202024;
  color: var(--dark-text-base);
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.8rem;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #222225; 
}

.panel {
  width: 50%;
  /* height: 8rem; */
  padding: 10px 18px;

  font-family: 'Raleway';
  font-size: 2rem;
  display: none;
  background-color: #0c0c0e;
  color: var(--dark-text-complement);
  overflow: hidden;
}

.panel a {
  text-decoration: none;
  color: var(--color-background-light);

}